@import 'global/reset.scss';
@import 'global/vari–∞ble';
@import 'global/fonts';
@import 'global/mixin';
@import 'global/breakpoints';

@import 'components/global-style-site';
@import 'components/header';
@import 'components/banner';
@import 'components/popular_models';
