<section class="banner">  
    <div class="container arrival">
        <img class="bg-banner" src="images/bg-banner.png" alt="Nike Air Max">
        <div class="text-banner">
            <span>From $80.00</span>
            <h1>Nike Air Max</h1>
            <h3>50 Variants</h3>
            <p>Since this is our favorite sneaker, we’re bringing you<br>
                50 variants to suit everyone’s needs.</p>
            <button class="btn">Browse variants</button>
        </div>
    </div> 
</section>
