<section class="brands_line">
    <div class="container inner_cont">
        <a class="brand" href="#"><img src="../images/1-ad.png" alt="brand"></a>
        <a class="brand" href="#"><img src="../images/2-nike.png" alt="brand"></a>
        <a class="brand" href="#"><img src="../images/3-puma.png" alt="brand"></a>
        <a class="brand" href="#"><img src="../images/4-as.png" alt="brand"></a>
        <a class="brand" href="#"><img src="../images/5-nb.png" alt="brand"></a>
        <a class="brand" href="#"><img src="../images/6-fila.png" alt="brand"></a> 
    </div>
</section>
 