<section class="facts">
    <div class="container facts-block">
        <div class="facts-item">
            <div class="icon">
                <img src="../images/icon-fact-1.png" alt="fact-icon"> 
            </div>
            <p class="facts-text">Free Shipping in Europe</p>
        </div>
        <div class="facts-item">
            <div class="icon">
                <img src="../images/icon-fact-2.png" alt="fact-icon">
            </div>
            <p class="facts-text">Money Back Guarantee</p>
        </div>
        <div class="facts-item">
            <div class="icon">
                <img src="../images/icon-fact-3.png" alt="fact-icon">
            </div>
            <p class="facts-text">24/7 Customer Support</p>
        </div>
        <div class="facts-item">
            <div class="icon">
                <img src="../images/icon-fact-4.png" alt="fact-icon">
            </div>
            <p class="facts-text">Lowest Prices Guaranteed</p>
        </div>
        <div class="facts-item">
            <div class="icon">
                <img src="../images/icon-fact-5.png" alt="fact-icon">
            </div>
            <p class="facts-text">Exclusive Items for Sportshold</p>
        </div>
        <div class="facts-item">
            <div class="icon">
                <img src="../images/icon-fact-6.png" alt="fact-icon">
            </div>
            <p class="facts-text">5-Day Delivery in Europe</p>
        </div> 
    </div>
</section>