<footer class="footer">
    <div class="container">
        <div class="block-links">

            <div class="us-kontact">
                <div class="kontact">
                    <p class="kontact-name">call us</p>
                    <p class="kontact-info">0 (1234) 567 890</p>
                </div>
                <div class="kontact">
                    <p class="kontact-name">email us</p>
                    <p class="kontact-info">hello@sportshold.com</p>
                </div>
                <div class="kontact">
                    <p class="kontact-name">address</p>
                    <p class="kontact-info">40 Baris Street 133/2, NY, US</p>
                </div>
            </div> 

            <div class="links">
                <div class="navigation">
                    <h4></h4>
                </div>
            </div>
        </div>

        <div class="social"></div>
    </div>
</footer>