<footer class="footer">
    <div class="container">
        <div class="block-links">

            <div class="us-сontact">
                <div class="item-contact call">
                    <p class="contact-details">call us</p>
                    <p class="сontact-info">0 (1234) 567 890</p>
                </div>
                <div class="item-contact email">
                    <p class="contact-details">email us</p>
                    <p class="сontact-info">hello@sportshold.com</p>
                </div>
                <div class="item-contact address">
                    <p class="contact-details">address</p>
                    <p class="сontact-info">40 Baris Street 133/2, NY, US</p>
                </div>
            </div> 

            <div class="links">
                <div class="navigation">
                    <p class="subtitle">navigation</p>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Latest News</a></li>
                        <li><a href="#">Rewiews</a></li>
                        <li><a href="#">Brands</a></li>
                    </ul>  
                </div>
                <div class="categories">
                    <p class="subtitle">categories</p>
                    <ul>
                        <li><a href="#">Men</a></li>
                        <li><a href="#">Women</a></li>
                        <li><a href="#">Children</a></li>
                        <li><a href="#">Baby</a></li>
                        <li><a href="#">Accessories</a></li>
                    </ul>  
                </div>
                <div class="sales">
                    <p class="subtitle">sales</p>
                    <ul>
                        <li><a href="#">New Arrivals</a></li>
                        <li><a href="#">Most Popular</a></li>
                        <li><a href="#">Top Picks</a></li>
                        <li><a href="#">Outlet</a></li> 
                    </ul>  
                </div>
                <div class="support">
                    <p class="subtitle">support</p>
                    <ul>
                        <li><a href="#">Shipping & Delivery</a></li>
                        <li><a href="#">Return Policy</a></li>
                        <li><a href="#">Terms of Service</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>  
                </div>
            </div>
        </div>

        <div class="social">
            <a class="logo" href="#"></a>
            <div class="copyright">© 2017 Sportshold. All rights reserved.</div>
            <div class="soc-links">
                <a class="soc icon-icon-twitter" href="https://twitter.com"></a>
                <a class="soc icon-icon-facebook" href="https://www.facebook.com"></a>
                <a class="soc icon-icon-pinterest" href="https://www.pinterest.com"></a>
                <a class="soc icon-icon_youtube" href="https://www.youtube.com"></a>
            </div>
        </div>
    </div>
</footer>