<header class="header"> 
    <div class="header-top">
        <div class="container top-block">
            <nav>
                <ul class="support">
                <li><a href="#">Support</a></li>
                <li><a href="#">Delivery</a></li>
                <li><a href="#">Legal</a></li>
                <li><a href="#">About Us</a></li>
                </ul>
            </nav>

            <ul class="users">
                <li><a class="my-goods" href="#">$465.00<span>4 items</span></a></li>
                <li><a class="login" href="#">Login</a></li>
                <li><a class="register" href="#">Register</a></li>
            </ul>
        </div>
    </div>

    <div class="header-main">
        <div class="container bottom-block">
            <a class="logo" href="#"></a>
            
            <nav class="main-menu">	
                <a href="#">Home</a>
                <a href="#">Men</a>
                <a href="#">Women</a>
                <a href="#">Children</a>
                <a href="#">Baby</a>
                <a href="#">Our Brands</a>
                <a href="#">Sales</a>
            </nav>
           
         
    </div>
      
</header>