<header class="header"> 
    <div class="header-top">
        <div class="container top-block">
            <nav>
                <ul class="support">
                <li><a href="#">Support</a></li>
                <li><a href="#">Delivery</a></li>
                <li><a href="#">Legal</a></li>
                <li><a href="#">About Us</a></li>
                </ul>
            </nav>

            <ul class="users">
                <li><a class="my-goods" href="#">$465.00<span>4 items</span></a></li>
                <li><a class="login" href="#">Login</a></li>
                <li><a class="register" href="#">Register</a></li>
            </ul>
        </div>
    </div>
</header>