<section class="latest-news">
    <div class="container">
        <h3 class="block-name">Latest News</h3>
        <div class="new-block">
            <div class="new-item"> 
                <img src="../images/news1.png" alt="new">
                <div class="description-new">
                    <p class="dates">Dec 27, 2017</p>
                    <h3 class="new-title">Lorem ipsum dolor sit amet
                                        consectetur adipiscing elit</h3>
                    <p class="comments">24 Comments</p>
                </div>
            </div>
            <div class="new-item">
                <img src="../images/news2.png" alt="new">
                <div class="description-new">
                    <p class="dates">Dec 27, 2017</p>
                    <h3 class="new-title">Lorem ipsum dolor sit amet
                                        consectetur adipiscing elit</h3>
                    <p class="comments">24 Comments</p>   
                </div>                                
            </div>
            <div class="new-item">
                <img src="../images/news3.png" alt="new">
                <div class="description-new">
                    <p class="dates">Dec 27, 2017</p>
                    <h3 class="new-title">Lorem ipsum dolor sit amet
                                        consectetur adipiscing elit</h3>
                    <p class="comments">24 Comments</p>
                </div>
            </div>
        </div>
    </div>
</section>