<section class="offers">
    <div class="container in-offerrs">
        <div class="left-side">
            <img src="images/bg-nike.png" alt="Nike Kyrie 3">
        </div>

        <div class="right-side">
            <div class="new-arrival">
                <img src="images/arrivals.png" alt="new-arrivals">
            </div>
            <div class="small-blocks">
                <a class="for-athletes">
                    <h3>Best for <br><span>athletes</span></h3>                    
                </a>
                <a class="premium">
                    <h3>Feel <br><span>premium</span></h3>                    
                </a>
            </div>
        </div>
    </div>
</section>