<section class="offers">
    <div class="container in-offerrs">
        <div class="left-side">
            <img class="logo_small" src="../images/logo_small.png" alt="logo">
            <div class="left-side-top">
                <h3>Discover the new<span>nike kyrie 3</span></h3>
                <button class="btn">view collection</button>
            </div>
        </div>

        <div class="right-side">
            <div class="new-arrivals" href="#">
                <h3>Check out the<span> new arrivals</span></h3>
                <button class="btn">Discover</button>
            </div>
            <div class="small-blocks">
                <a class="for-athletes" href="#">                    
                    <h3>Best for<span>athletes</span></h3>                    
                </a>
                <a class="premium" href="#">
                    <h3>Feel<span>premium</span></h3>                    
                </a>
            </div>
        </div>
    </div>
</section>