<section class="container popular_models">
    <ul id="tabs">
        <li><a href="#" title="tab1">New </a></li>
        <li><a href="#" title="tab2">Popular</a></li>
        <li><a href="#" title="tab3">Top picks</a></li>
    </ul>
             
    <div id="content">
        <div id="tab1">
            <div class="sneakers">
                <div class="price">$45.00</div>
                <div class="sale-price">$60.00</div>
                <div class="discount">-25%</div>
                <img src="images/sneakers_1.png" alt="sneakers">
                <h3>Men</h3>
                <p>Converse Breakpoint Suede Blue</p>
                <p class="number-id">16378271</p> 
            </div>

            <div class="sneakers">
                <div class="price">$60.00</div> 
                <img src="images/sneakers_2.png" alt="sneakers">
                <h3>Men/women</h3>
                <p>Converse CT All Star II</p>
                <p class="number-id">16378271</p> 
            </div>

            <div class="sneakers">
                <div class="price">$45.00</div>
                <div class="sale-price">$60.00</div>
                <div class="discount">-25%</div>
                <img src="images/sneakers_3.png" alt="sneakers">
                <h3>Women</h3>
                <p>Adidas Pure Boost Chill</p>
                <p class="number-id">16378271</p> 
            </div>

            <div class="sneakers">
                <div class="price">$50.00</div> 
                <img src="images/sneakers_4.png" alt="sneakers">
                <h3>Men</h3>
                <p>Puma Duplex W Casual</p>
                <p class="number-id">16378271</p> 
            </div> 

            <div class="sneakers">
                <div class="price">$45.00</div>
                <div class="sale-price">$60.00</div>
                <div class="discount">-25%</div>
                <img src="images/sneakers_5.png" alt="sneakers">
                <h3>Men</h3>
                <p>Converse Breakpoint Suede Blue</p>
                <p class="number-id">16378271</p> 
            </div>

            <div class="sneakers">
                <div class="price">$60.00</div> 
                <img src="images/sneakers_6.png" alt="sneakers">
                <h3>Men/women</h3>
                <p>Converse CT All Star II</p>
                <p class="number-id">16378271</p> 
            </div>

            <div class="sneakers">
                <div class="price">$45.00</div>
                <div class="sale-price">$60.00</div>
                <div class="discount">-25%</div>
                <img src="images/sneakers_7.png" alt="sneakers">
                <h3>Women</h3>
                <p>Adidas Pure Boost Chill</p>
                <p class="number-id">16378271</p> 
            </div>

            <div class="sneakers">
                <div class="price">$50.00</div> 
                <img src="images/sneakers_8.png" alt="sneakers">
                <h3>Men</h3>
                <p>Puma Duplex W Casual</p>
                <p class="number-id">16378271</p> 
            </div> 
        </div>


        <div id="tab2">Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
            Et, officia facilis aperiam ab commodi dignissimos voluptatem maxime cupiditate labore similique placeat fuga?</div>
        <div id="tab3">Lorem ipsum dolor sit.</div>
    </div> 
</section>