<section class="testimonials">
    <div class="container inner-test">
        <div class="user-block">
            <div class="user-review">
                <div class="user-foto">
                    <img src="../images/user-foto.png" alt="foto-user">
                </div>
                <p class="user-name">Andrew Ferraccioli</p>
                <p class="user-opinion"></p>
            </div>

            <div class="user-review">
                <div class="user-foto">
                    <img src="../images/user-foto.png" alt="foto-user">
                </div>
                <p class="user-name">Andrew Ferraccioli</p>
                <p class="user-opinion"></p>
            </div>
        
            <div class="user-review">
                <div class="user-foto">
                    <img src="../images/user-foto.png" alt="foto-user">
                </div>
                <p class="user-name">Andrew Ferraccioli</p>
                <p class="user-opinion"></p>
            </div>
        </div>

    </div>
</section>