<section class="testimonials">
    <div class="container inner-test">
        <div class="user-block">
                <ul id="tabs">
                        <li><a href="#" title="tab1">
                                <div class="user-review">
                                    <div class="user-foto">
                                        <img src="../images/user-foto.png" alt="foto-user">
                                    </div>
                                    <p class="user-name">Andrew Ferraccioli</p>
                                    <p class="user-opinion"></p>
                                </div>
                        </a></li>
                        <li><a href="#" title="tab2">
                                <div class="user-review">
                                        <div class="user-foto">
                                            <img src="../images/user-foto.png" alt="foto-user">
                                        </div>
                                        <p class="user-name">Andrew Ferraccioli</p>
                                        <p class="user-opinion"></p>
                                    </div>
                        </a></li>
                        <li><a href="#" title="tab3">
                                <div class="user-review">
                                        <div class="user-foto">
                                            <img src="../images/user-foto.png" alt="foto-user">
                                        </div>
                                        <p class="user-name">Andrew Ferraccioli</p>
                                        <p class="user-opinion"></p>
                                    </div>
                            
                        </a></li>
                    </ul>
                
                    <div id="content">
                            <div id="tab1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, animi!</div>
                            <div id="tab2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, animi!</div>
                            <div id="tab3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, animi!</div>
                        </div>

    </div>
</section>