<section class="testimonials">
    <div class="container"> 
        <ul id="user-tabs" class="user-block">
            <li><a href="#" title="tab-user1">
                    <div class="user-review">
                        <div class="user-foto">
                            <img src="../images/user-foto.png" alt="foto-user">
                        </div>
                        <p class="user-name">Christopher Atkins</p>
                        <div class="raiting">
                            <p style="width: 100%;" class="raiting-fill"></p>
                            <p class="raiting-empty"></p>
                        </div>
                    </div>
            </a></li>
            <li><a href="#" title="tab-user2">
                    <div class="user-review">
                            <div class="user-foto">
                                <img src="../images/user-foto.png" alt="foto-user">
                            </div>
                            <p class="user-name">Andrew Ferraccioli</p>
                            <div class="raiting">
                                <p style="width: 80%;" class="raiting-fill"></p>
                                <p style="width: 20%;" class="raiting-empty"></p>
                            </div>
                        </div>
            </a></li>
            <li><a href="#" title="tab-user3">
                    <div class="user-review">
                            <div class="user-foto">
                                <img src="../images/user-foto.png" alt="foto-user">
                            </div>
                            <p class="user-name">Sandra Jensen</p>
                            <div class="raiting">
                                <p style="width: 62%;" class="raiting-fill"></p>
                                <p style="width: 40%;"class="raiting-empty"></p>
                            </div>
                        </div>
                
            </a></li>
        </ul>
        
        <div id="user-content" class="content">
                <div id="tab-user1">Lorem ipsum loremdolor sit amet consecteima 
                    loremexplicabogit maxime fugiatus numquam sequi ipsum veniam earum? 
                    Provident accusantium beatae id minus autem deleniti vel illum blanditiis 
                    eaque inventore. Accusamus quasi numquam dolor molestiae sequi!Lorem i
                    psum dolor sit amet consectetur adipisicing elit. Aut, animi!</div>
                <div id="tab-user2">Lorem ipsum dolor sit amet consectetur Lorem ipsum dolor
                     sit, amet consectetur adipisicing elit. Libero quo omnis quae 
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cupiditate
                    tque laborum natus assumenda, nulla, ex excepturi quod dignissimos 
                    libero vero aut sequi. Nihil harum quos odit quam velit beatae at 
                    totam quas maiores iusto id dolore ea rerum, sunt cumque aut quo
                    voluptatum labore aperiam libero enim dolorum soluta veniam quaerat. 
                    Saepe omnis laborum impedit Lorem ipsum dolor sit amet, consectetur
                    adipisicing elit. Officia, id. Reiciendis dolor ipsum enim
                    laudantium. Veniam, facere nesciunt atque non repudiandae 
                    blanditiis, laboriosam delectus eum consequuntur sapiente magni
                    quisquam fugiat!nobis, voluptas obcaecati? Illum, 
                    beatae?exercitationem ipsam doloribus!adipisicing elit.
                    Aut, animi!</div>
                <div id="tab-user3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, animi!</div>
        </div>
        
    </div>
</section>