.banner {
    background-color: #f0efee;
    padding-top: 135px;
    .arrival {
        display: flex;
        justify-content: flex-end;
        .bg-banner {
            margin-left: -535px;
            margin-top: -175px;
            padding-right: 70px;
            width: 86%;
        }

        .text-banner {
            padding-right: 80px;
            width: 49%;
            span {
                color: $light-bg;
                display: block;
                font-size: 30px;
                margin-bottom: 15px;
            }

            h1 {
                color: $light-bg;
                font-family: 'TruenoUltBlk';
                font-size: 70px;
                margin-bottom: 20px;
            }

            h3 {
                color: $pink;
                font-family: 'TruenoUltBlk';
                font-size: 50px;
                margin-bottom: 30px;
            }

            p {
                color: $title;
                font-size: 16px;
                line-height: 26px;
                margin-bottom: 30px;
            }

            .btn {
                @include btn-style;
                background-color: $pink;
                padding: 11px 46px;
            }
        }
    }
}
