* {
    box-sizing: border-box;
}

body {
    @include font;
}

html {
    scroll-behavior: smooth;
}

.container {
    margin: 0 auto;
    max-width: 1140px;
    padding: 0 15px 0;
}

a {
    color: $text;
    cursor: pointer;
    display: block;
    text-decoration: none;
}

a:hover,
a:focus {
    text-decoration: none;
}

.btn:hover {
    opacity: 0.8;
}
