.offers {
    padding: 50px 0 95px 0;
    @include small {
        padding: 50px 0 30px 0;
    }
    .in-offerrs {
        display: flex;
        justify-content: space-between; 
        @include small {
            flex-direction: column;
        }

        .left-side {
            background: url('../images/left-side_bg.png') center no-repeat/cover;
            position: relative;
            width: 48.6%;
            @include small {
                margin: 0 auto 30px;
                min-width: 80%;
            }

            &:before {
                background: url('../images/bg-nike_part.png');
                content: '';
                height: 55px;
                left: -12px;
                position: absolute;
                top: 226px;
                width: 29px;
                @include medium {
                    display: none;
                }
            }

            .logo_small {
                left: 20px;
                position: absolute;
                top: 28px;
                width: 15%;
            }

            .left-side-top {
                padding-bottom: 44px;
                text-align: center;
                h3 {
                    @include font($size: 30px);
                    padding: 45px 0 335px;
                    text-align: center;
                    span {
                        @include span;
                        color: #4bd8cd;
                    }

                    @include medium {
                        padding: 45px 0 240px 0;
                    }
                }

                .btn {
                    @include btn-style;
                    background-color: #4bd8cd;
                }
            }
        }

        .right-side {
            display: flex;
            flex-direction: column;
            width: 48.6%;
            @include small {
                margin: 0 auto 30px;
                width: 80%;
            }

            .new-arrivals {
                background-color: $pink;
                height: 47.3%;
                margin-bottom: 30px;
                padding-bottom: 30px;
                padding-left: 150px;
                position: relative;
                text-align: center;
                width: 100%;
                @include small {
                    padding-left: 0;
                }

                @include medium {
                    padding-left: 0;
                }

                &:before {
                    background: url('../images/arrivals-element.png');
                    content: '';
                    display: block;
                    height: 277px;
                    left: -15px;
                    position: absolute;
                    top: -22px;
                    width: 207px;
                    @include small {
                        display: none;
                    }

                    @include medium {
                        display: none;
                    }
                }

                h3 {
                    @include font($size: 30px);
                    padding: 55px 0 25px;
                    span {
                        @include span;
                    }

                    @include medium {
                        padding: 35px 0 25px;
                    }
                }

                .btn {
                    @include btn-style;
                    background-color: $light-bg;
                }
            }

            .small-blocks {
                color: $text;
                display: flex;
                justify-content: space-between;
                .for-athletes {
                    background: url('../images/athletes-bg.png') center
                        no-repeat/cover;
                    width: 47.3%;
                    @include font($size: 30px);
                    h3 {
                        padding: 145px 0 40px 0;
                        text-align: center;
                        span {
                            @include span;
                            color: $pink;
                        }

                        @include medium {
                            padding: 98px 0 40px 0;
                        }
                    }
                }

                .premium {
                    background: url('../images/premium-bg.png') center
                        no-repeat/cover;
                    width: 47.3%;
                    @include font($size: 30px, $color: #6b7072);
                    h3 {
                        padding: 40px 0 145px 0;
                        text-align: center;
                        span {
                            @include span;
                            color: $text;
                        }

                        @include medium {
                            padding: 40px 0 98px 0;
                        }
                    }
                }
            }
        }
    }
}
