.offers {
    padding: 50px 0 95px 0;
    .in-offerrs {
        display: flex;
        justify-content: space-between;
        .left-side {
            background-color: #000;
            height: 540px;
            width: 48.6%;
            img {
                width: 100%;
            }
        }

        .left-side:before {
            background: url('../i');
            content: '';
            height: 55px;
            width: 29px;
        }

        .right-side {
            display: flex;
            flex-direction: column;
            height: 540px;
            width: 48.6%;

            // padding-left: 30px;
            .new-arrival {
                background-color: $pink;
                margin-bottom: 30px;
                width: 100%;
                img {
                    margin-left: -20px;
                }
            }

            .small-blocks {
                color: $text;
                display: flex;
                justify-content: space-between;
                width: 100%;
                .for-athletes {
                    background-color: #2d2f2e;
                    position: relative;
                    width: 47%;
                    img {
                        width: 100%;
                    }

                    h3 {
                        bottom: 50px;
                        color: $text;
                        font-size: 30px;
                        left: 50%;
                        position: absolute;
                        text-align: center;
                        transform: translateX(-50%);
                        span {
                            color: $pink;
                            font-family: 'TruenoBd';
                            text-transform: uppercase;
                        }
                    }
                }

                .premium {
                    background-color: #cecece;
                    width: 47%;
                    position: relative;
                    img {
                         
                        left: 0;
                        position: relative;
                        top: auto;
                        bottom: 0;
                        width: 100%;
                    }
                    h3 {
                        bottom: 50px;
                        color: #6b7072;
                        font-size: 30px;
                        left: 50%;
                        position: absolute;
                        text-align: center;
                        transform: translateX(-50%);
                        span {
                            color: $text;
                            font-family: 'TruenoBd';
                            text-transform: uppercase;
                        }
                    }
                     
                }
            }
        }
    }
}
