@mixin font($font-family: $font_lt, $size: $fs, $color: $text) {  
    font-family: $font-family;
    font-size: $size;
    color: $color;
  }


@mixin btn-style {
    color: $text;
    font-family: $font_bd;
    font-size: $fs;
    padding: 14px 29px;
    text-transform: uppercase;
    border: 0;
    outline: none;
    cursor: pointer;
}
