@mixin fontbd {
    font-family: 'TruenoBd';
}
@mixin fontblk {
    font-family: 'TruenoUltBlk';
}
@mixin btn-style {
    color: $text;
    @include fontbd;
    font-size: 16px; 
    padding: 14px 29px;
    text-transform: uppercase;
    border: 0;
    outline: none;
    cursor: pointer;
}
